*{
    margin:0px;
}

/* header */

.header-img{
    width: 80%;
    height:400px;
    
    
  ;


}

.header-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    padding-top: 80px;
    
}

.left-header{
    width:40%;
    margin-left: 50px;
}
.right-header{
    width:40%
    
}

.header-title{
    font-size: 45px;
    
}

.header-description{
    margin: 30px 0px;
    font-size: 12px;
    color: rgba(39, 39, 39, 0.60);
}

.btn-primary{
    border-radius: 4px;
    background: #E55473;
    border:none;
    padding:10px 25px;
    color:white;
}


header{
    margin-bottom: 100px;
}
.main-section2-container{
    display:flex;
    justify-content: space-around;
    width:60%;
    margin:auto;
    background: rgba(39, 39, 39, 0.05);
    gap: 15px;
    padding: 50px 100px;
    
}

.main-info{
    text-align: center;
}

.main-info img{
    width:45px;
}

.main-info p{
    font-size: 14px;
    margin-top:10px;
}

.main-3rd-img{
    width: 200px;
    height: 220px;

}

.main-3rd-container{
    display:flex;
    width:70%;
    margin:auto;
    background: rgba(229, 84, 115, 0.05);
    margin-top:50px;
    padding:50px 150px;
    align-items: center;
    gap:70px;
}

.main-3rd-container p {
        width:350px;
        font-size: 12px;
        margin:20px 0px;
}

.span{
    color: #E55473;
}

.main-3rd-left{
    text-align: center;
}

.main-4th-title{
    text-align: center;
    margin-top:50px;
    margin-bottom: 30px;
}

.main-4th-title p{
    font-size: 12px;
    margin-top: 10px;
}

.flower-container{
    display: flex;
    gap:10px;
    justify-content: center;
}

.flower-container img {
    width: 18%;
}

.last-title{
    text-align: center;
    background-image: url('./Flower Asset/Rectangle\ 9.png');
    margin-top: 50px;
    background-size: 1140px 282px;
    background-repeat: no-repeat;
    

}

.last-title h2{
    padding-top: 100px;
    padding-bottom: 20px;
}

.input{
    padding-bottom: 100px;
}

.input input{
    width:400px;
    padding:10px 10px;
    border:none;
    
}

.last-title p{
    padding-bottom:10px;
}


.input{
    margin-bottom: 100px;
}

.footer-container h2{
    color:white;
    /* background-color:  #111010; */


}

footer{
    background-color: #111010;
    color:white;
    text-align: center;
}